
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars

    <div class="w3-container w3-center @DaysAnimateClass">

        <div class="checkbox-control mt-2">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                    <SfCheckBox @bind-Checked="@WorksysVM.Worksys.saType" Disabled="bol_ReadOnly" Label="Non Fixed &ensp;&ensp;"></SfCheckBox>
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                    <SfCheckBox @bind-Checked="@WorksysVM.Worksys.sah" Disabled="bol_ReadOnly"  Label="Holiday"></SfCheckBox>
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                    @if (WorksysVM.Worksys.sah)
                    {
                        <SfCheckBox @bind-Checked="@WorksysVM.Worksys.saBonus" Disabled="bol_ReadOnly"  Label="Bonus"></SfCheckBox>
                    }
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                    <button class="btn" @onclick="@ApplyToAll" style="color:silver;"><i class="fas fa-tasks"></i> Apply To All Days</button>
                </div>
            </div>
        </div>
        @if (!WorksysVM.Worksys.saType && !WorksysVM.Worksys.sah)
        {
            <div class="row mt-5">
                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3 mt-2">
                    <SfCheckBox @bind-Checked="@WorksysVM.Worksys.saf" Disabled="bol_ReadOnly"  CssClass="e-custom" Label="First Shift &ensp;&ensp;&ensp;"></SfCheckBox>
                </div>

                @if (WorksysVM.Worksys.saf)
                {
                    <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 mt-1">
                        <lable style="color:#6372C4">From</lable>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 col-md-1">
                        <SfTimePicker TValue="DateTime?" @bind-Value="@WorksysVM.Worksys.safs" Readonly="bol_ReadOnly" Placeholder="Select a time"></SfTimePicker>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 mt-2">
                        <lable style="color:#6372C4">To</lable>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                        <SfTimePicker TValue="DateTime?" @bind-Value="@WorksysVM.Worksys.safe" Readonly="bol_ReadOnly" Placeholder="Select a time"></SfTimePicker>
                    </div>
                }
            </div>

            <div class="row mt-3">
                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3 mt-2">
                    <SfCheckBox @bind-Checked="@WorksysVM.Worksys.sas" Disabled="bol_ReadOnly"  CssClass="e-custom" Label="Second Shift"></SfCheckBox>
                </div>
                @if (WorksysVM.Worksys.sas)
                {
                    <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 mt-1">
                        <lable style="color:#6372C4">From</lable>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                        <SfTimePicker TValue="DateTime?" @bind-Value="@WorksysVM.Worksys.sass" Readonly="bol_ReadOnly" Placeholder="Select a time"></SfTimePicker>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 mt-2">
                        <lable style="color:#6372C4">To</lable>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                        <SfTimePicker TValue="DateTime?" @bind-Value="@WorksysVM.Worksys.sase" Readonly="bol_ReadOnly" Placeholder="Select a time"></SfTimePicker>
                    </div>
                }
            </div>
        }
        else
        {
            if ((WorksysVM.Worksys.saType && !WorksysVM.Worksys.sah) || (WorksysVM.Worksys.saType && WorksysVM.Worksys.sah && WorksysVM.Worksys.saBonus))
            {
                <div class="offset-3 col-xs-2 col-sm-2 col-lg-2 col-md-2 mt-5">
                    <lable>Number of hours</lable>
                    <SfTimePicker TValue="DateTime?" @bind-Value="@WorksysVM.Worksys.saPeriod_Hours" Readonly="bol_ReadOnly" Format="HH:mm" Placeholder="Select a time"></SfTimePicker>
                </div>
            }
        }
    </div>

@code {

    [Parameter] public WorksysViewModel WorksysVM { get; set; }
    [Parameter] public string DaysAnimateClass { get; set; }
    [Parameter] public bool bol_ReadOnly { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }

    async Task ApplyToAll()
    {
        #region su
        WorksysVM.Worksys.suh = WorksysVM.Worksys.sah;
        WorksysVM.Worksys.suBonus = WorksysVM.Worksys.saBonus;
        WorksysVM.Worksys.suType = WorksysVM.Worksys.saType;
        WorksysVM.Worksys.suf = WorksysVM.Worksys.saf;
        WorksysVM.Worksys.sus = WorksysVM.Worksys.sas;
        WorksysVM.Worksys.sufs = WorksysVM.Worksys.safs;
        WorksysVM.Worksys.sufe = WorksysVM.Worksys.safe;
        WorksysVM.Worksys.sufa = WorksysVM.Worksys.safa;
        WorksysVM.Worksys.suss = WorksysVM.Worksys.sass;
        WorksysVM.Worksys.suse = WorksysVM.Worksys.sase;
        WorksysVM.Worksys.susa = WorksysVM.Worksys.sasa;
        WorksysVM.Worksys.suPeriod_Hours = WorksysVM.Worksys.saPeriod_Hours;
        #endregion

        #region mo
        WorksysVM.Worksys.moh = WorksysVM.Worksys.sah;
        WorksysVM.Worksys.moBonus = WorksysVM.Worksys.saBonus;
        WorksysVM.Worksys.moType = WorksysVM.Worksys.saType;
        WorksysVM.Worksys.mof = WorksysVM.Worksys.saf;
        WorksysVM.Worksys.mos = WorksysVM.Worksys.sas;
        WorksysVM.Worksys.mofs = WorksysVM.Worksys.safs;
        WorksysVM.Worksys.mofe = WorksysVM.Worksys.safe;
        WorksysVM.Worksys.mofa = WorksysVM.Worksys.safa;
        WorksysVM.Worksys.moss = WorksysVM.Worksys.sass;
        WorksysVM.Worksys.mose = WorksysVM.Worksys.sase;
        WorksysVM.Worksys.mosa = WorksysVM.Worksys.sasa;
        WorksysVM.Worksys.moPeriod_Hours = WorksysVM.Worksys.saPeriod_Hours;
        #endregion

        #region tu
        WorksysVM.Worksys.tuh = WorksysVM.Worksys.sah;
        WorksysVM.Worksys.tuBonus = WorksysVM.Worksys.saBonus;
        WorksysVM.Worksys.tuType = WorksysVM.Worksys.saType;
        WorksysVM.Worksys.tuf = WorksysVM.Worksys.saf;
        WorksysVM.Worksys.tus = WorksysVM.Worksys.sas;
        WorksysVM.Worksys.tufs = WorksysVM.Worksys.safs;
        WorksysVM.Worksys.tufe = WorksysVM.Worksys.safe;
        WorksysVM.Worksys.tufa = WorksysVM.Worksys.safa;
        WorksysVM.Worksys.tuss = WorksysVM.Worksys.sass;
        WorksysVM.Worksys.tuse = WorksysVM.Worksys.sase;
        WorksysVM.Worksys.tusa = WorksysVM.Worksys.sasa;
        WorksysVM.Worksys.tuPeriod_Hours = WorksysVM.Worksys.saPeriod_Hours;
        #endregion

        #region we
        WorksysVM.Worksys.weh = WorksysVM.Worksys.sah;
        WorksysVM.Worksys.weBonus = WorksysVM.Worksys.saBonus;
        WorksysVM.Worksys.weType = WorksysVM.Worksys.saType;
        WorksysVM.Worksys.wef = WorksysVM.Worksys.saf;
        WorksysVM.Worksys.wes = WorksysVM.Worksys.sas;
        WorksysVM.Worksys.wefs = WorksysVM.Worksys.safs;
        WorksysVM.Worksys.wefe = WorksysVM.Worksys.safe;
        WorksysVM.Worksys.wefa = WorksysVM.Worksys.safa;
        WorksysVM.Worksys.wess = WorksysVM.Worksys.sass;
        WorksysVM.Worksys.wese = WorksysVM.Worksys.sase;
        WorksysVM.Worksys.wesa = WorksysVM.Worksys.sasa;
        WorksysVM.Worksys.wePeriod_Hours = WorksysVM.Worksys.saPeriod_Hours;
        #endregion

        #region th
        WorksysVM.Worksys.thh = WorksysVM.Worksys.sah;
        WorksysVM.Worksys.thBonus = WorksysVM.Worksys.saBonus;
        WorksysVM.Worksys.thType = WorksysVM.Worksys.saType;
        WorksysVM.Worksys.thf = WorksysVM.Worksys.saf;
        WorksysVM.Worksys.ths = WorksysVM.Worksys.sas;
        WorksysVM.Worksys.thfs = WorksysVM.Worksys.safs;
        WorksysVM.Worksys.thfe = WorksysVM.Worksys.safe;
        WorksysVM.Worksys.thfa = WorksysVM.Worksys.safa;
        WorksysVM.Worksys.thss = WorksysVM.Worksys.sass;
        WorksysVM.Worksys.thse = WorksysVM.Worksys.sase;
        WorksysVM.Worksys.thsa = WorksysVM.Worksys.sasa;
        WorksysVM.Worksys.thPeriod_Hours = WorksysVM.Worksys.saPeriod_Hours;
        #endregion

        #region fr
        WorksysVM.Worksys.frh = WorksysVM.Worksys.sah;
        WorksysVM.Worksys.frBonus = WorksysVM.Worksys.saBonus;
        WorksysVM.Worksys.frType = WorksysVM.Worksys.saType;
        WorksysVM.Worksys.frf = WorksysVM.Worksys.saf;
        WorksysVM.Worksys.frs = WorksysVM.Worksys.sas;
        WorksysVM.Worksys.frfs = WorksysVM.Worksys.safs;
        WorksysVM.Worksys.frfe = WorksysVM.Worksys.safe;
        WorksysVM.Worksys.frfa = WorksysVM.Worksys.safa;
        WorksysVM.Worksys.frss = WorksysVM.Worksys.sass;
        WorksysVM.Worksys.frse = WorksysVM.Worksys.sase;
        WorksysVM.Worksys.frsa = WorksysVM.Worksys.sasa;
        WorksysVM.Worksys.frPeriod_Hours = WorksysVM.Worksys.saPeriod_Hours;
        #endregion

        await JSRuntime.Notfication("This configuration has been applied to all days successfully !", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
    }
}

<style>
    .e-custom .e-frame {
        border-radius: 75%;
    }

    .e-checkicon.e-checkbox-wrapper .e-frame.e-check::before {
        content: '\e77d';
    }

    .e-checkicon.e-checkbox-wrapper .e-check {
        font-size: 10px;
    }

    .e-checkicon.e-checkbox-wrapper .e-frame.e-check {
        background-color: white;
        border-color: grey;
        color: grey;
    }

    .e-checkicon.e-checkbox-wrapper:hover .e-frame.e-check {
        background-color: white;
        border-color: grey;
        color: grey;
    }

    .e-checkicon.e-checkbox-wrapper .e-checkbox:focus + .e-frame.e-check {
        background-color: white;
        border-color: grey;
        box-shadow: none;
        color: grey;
    }
</style>